@model IEnumerable<mvcTemplate.Models.Teacher>
 

    <h2>Détails de l'enseignant</h2>
    <p>ID: @Model.Id</p>
    <p>Nom: @Model.Name</p>
    <p>Prénom: @Model.Namesc</p>
    <p>Âge: @Model.Age</p>

    <a href="/Teacher/Index">Retour à la liste</a>
